@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 2px black;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }
}

:root {
    --background-colour: #F0F0F0;
    --text-colour: rgba(0, 0, 0, 0.80);
    --win-color: #34c85a;
    --loss-color: #E83E44;
    --winDay-color: #34c85a;
    --lossDay-color: #E83E44;
}

[data-theme="dark"] {
    --background-colour: #0d1113;
    --text-colour: rgba(255, 255, 255, 0.80);
}

html, body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

.nav-bar-link {
    position: relative;
    padding-right: 8px;
}

.nav-bar-link::before {
    content: '';
    position: absolute;
    left: -8px;
    height: 100%;
    width: 2px;
    background: #C81E32;
    z-index: -1;
    transition: width 0.3s ease;
}

.nav-bar-link:hover::before {
    width: calc(100% + 10px);
}

* {
    scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar spinner en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media (min-width: 768px) {

    /* breakpoint `md` de Tailwind */
    #benefits {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }
}

#benefits-polygon {
    clip-path: polygon(100% 10%, 82.3% 100%, 100% 100%);
}